html {box-sizing:border-box;
  height: 100%;
}
*,* :after, *:before {box-sizing:inherit;}

body{
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('./assets/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: sans-serif;
  height: 100%;

}


.grid{
  margin: auto;
  display: grid;
  grid-template-columns: 326px 326px 326px;
  grid-template-rows: auto;
  grid-column-gap:10px;
  grid-row-gap: 10px;
  grid-template-areas: 
  "one two three"
  "four four three";
  width: 1000px;
  height: 400px;
  color: white;
  font-size: 38px;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
}
.one{
  grid-area:one;
  background: blue;
  border: 4px solid white;
  background: url('./assets/sk8er-4.png');
  background-repeat: no-repeat;
  background-size: 362px 205px;
  background-position: -38px 0px;
  display: grid;
  justify-items: center;
  align-items: center;
  box-shadow: 0px 2px #ccc;
}
.two{
  grid-area:two;
  background: red;
  border: 4px solid white;
  background: url('./assets/sk8er-3.png');
  background-repeat: no-repeat;
  background-size: 359px 210px;
  display: grid;
  justify-items: center;
  align-items: center;
  box-shadow: 0px 2px #ccc;
}
.three{
  grid-area:three;
  background: purple;
  border: 4px solid white;
  background: url('./assets/sk8er-2.png');
  background-repeat: no-repeat;
  background-size: 759px 418px;
  background-position: -349px -5px;
  display: grid;
  justify-items: center;
  align-items: center;
  box-shadow: 0px 2px #ccc;
}
.four{
  grid-area:four;
  background: green;
  border: 4px solid white;
  background: url('./assets/sk8er-1.png');
  background-repeat: no-repeat;
  background-size: 717px 279px;
  background-position: 2px -66px;
  display: grid;
  justify-items: center;
  align-items: center;
  box-shadow: 0px 2px #ccc;
}
.tri{
  position: absolute;
  top: 61px;
  left: 190px;
  width: 180px;
  height: 100px;
  background: red;
  text-transform: uppercase;
  text-align: center;
  line-height: 100px;
  box-shadow: 0px 2px #ccc;
}
.tri:after{
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 0 50px 76px;
  border-color: transparent transparent transparent red;
  position: absolute;
  left: 180px;
}

.tri:before{
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 0 50px 76px;
  border-color: transparent transparent transparent #ccc;
  position: absolute;
  left: 182px;
  top: 2px;
}
